.footer-container {
    background-color: #d7f9e9;
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border-radius: 45px;
    justify-content: space-between;
    align-items: flex-start;
}

.img {
    width: 30%;
}

.img img {
    width: 100%; 
    height: auto;
    display: block;
}

.text {
    margin-top: 90px;
    flex-grow: 1;
    max-width: 25%; 
    margin-right: 50px; 
    margin-left: 0px;
}

.text h2 {
    font-weight: bold;
    font-size: 1.5em; 
}

.text p {
    color: rgb(65, 60, 54);
    font-size: 22px;
    margin: 10px 0;
}

.footer-form {
    flex-grow: 1;
    margin-top: 50px;
    max-width: 25%; 
    display: flex;
    flex-direction: column;
}

.footer-form p {
    font-size: 18px;
    font-weight: bold;
    color: #3b3a3a;
}

.footer-form input,
.footer-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 100%;
}

.footer-form input,
.footer-form textarea {
    max-width: 100%;
}

.footer-form button {
    padding: 10px;
    background-color: #74cbbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.footer-form button:hover {
    background-color: #428c77;
}

.container-fluid {
    padding: 20px;
}

.smallboxes {
    display: flex; 
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
    background-color: #f0f4f8; 
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 220px;
    height: 130px;
    margin: 5px;
}

.icon {
    margin-right: 5px;
    color: #4caf50;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.boxtext h6 {
    margin: 0; 
    font-size: 18px;
    margin-left: 18px;
}

.boxtext p {
    margin: 0;
    margin-left: 18px;
    font-size: 15px; 
    color: rgb(68, 65, 65);
}

.last {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
}

.col {
    flex: 1; 
    margin: 0 10px; 
    text-align: left; 
}

.logo {
    margin-bottom: 20px; 
}

.logo img {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
}

.address-list {
    margin-top: 10px;
}

.address {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.addressicon {
    margin-right: 10px;
    color: #00bcd4; 
    font-size: 30px; 
}

.list h6 {
    font-weight: bold;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    margin-top: 30px;
}

.list li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.3s ease-in-out;
}

li:hover {
    color: #00bcd4 !important;
    transform:translateY(-5px);
}


.connect {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
}

.line {
    height: 2px; 
    background-color: #87e7d2; 
    width: 100%; 
    margin: 0; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px 20px; 
}

.copyright {
    flex: 0 0 auto; 
    color: rgb(65, 60, 54); 
}

.social {
    display: flex; 
    gap: 15px; 
}

